{% extends "panel/templates/global.njk" %}

{% block wrapper %}

<h1>Workers</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Surname</th>
			<th scope="col">Option</th>
		</tr>
	</thead>
	<tbody>
		{% for worker in workers %}
		<tr>
			<td>{{ worker.name }}</td>
			<td>{{ worker.surname }}</td>
			<td><a href="/panel/workers/{{ worker._id }}">Details</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
