{% extends "panel/templates/global.njk" %}

{% block wrapper %}

<h1>{{ worker.name }} {{ worker.surname }}</h1>

<ul class="list-group list-group-flush">
	<li class="list-group-item"><img src="{{ worker.photoPath }}" alt="worker avatar" height="300px"></li>
	<li class="list-group-item">Full Name: {{ worker.name }} {{ worker.surname }}</li>
	<li class="list-group-item">Type:
		{% if worker.isAssistant %}
		Assistant
		{% else %}
		Teacher
		{% endif %}
	</li>
	<li class="list-group-item">Email: {{ worker.email }}</li>
</ul>
{% endblock %}
