{% extends "panel/templates/preLogin.njk" %}

<!-- #region Styles -->

{% block styles %}

<style>
  html,
  body { height: 100%; }

  * {
    color: #3D414D
  }

  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F8F9FB;
  }

  img { margin-bottom: 20px }

  .form-password-reset {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-password-reset .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-password-reset .form-control:focus {
    z-index: 2;
  }
  .form-password-reset input::placeholder{
    font-weight: 300
  }
  .form-password-reset input{
    font-weight: 500
  }
  .form-password-reset input {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn{
    color: #F8F9FB;
    font-weight: 400;
    font-size: 14px;
  }
  .btn:hover{
    background: #5C85FC
  }
  .save-btn, .accept-btn{
    background: #50C468;
    color: #F8F9FB;
  }
  .reject-btn{
    background: #EE7271;
    color: #F8F9FB;
  }
  .alert.error-alert{
    background: #EE7271 !important;
    color: #F8F9FB !important;
    margin-bottom: 0px;
  }
  .alert.success-alert{
    background: #50C468 !important;
    color: #F8F9FB !important;
    margin-bottom: 0px;
  }
  .alert.error-alert #error-message{
    color: #F8F9FB !important;
  }
</style>

{% endblock %}

<!-- #endregion -->

<!-- #region Body -->

{% block body %}

<!-- #region Alerts -->

<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="error-title">{{ locales.static.alerts.error.heading }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert error-alert alert-dismissible fade show" id="error-alert" role="alert">
          <span id="error-message"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="success-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="success-title">{{ locales.static.alerts.success.heading }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert success-alert alert-dismissible fade show" id="success-alert" role="alert">
          {{ locales.static.alerts.success.message }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="redirectLogin();" class="btn accept-btn">{{ locales.static.buttonTexts.turnBack
          }}</button>
        <button type="button" data-dismiss="modal" class="btn reject-btn">{{ locales.static.buttonTexts.close
          }}</button>
      </div>
    </div>
  </div>
</div>

<!-- #endregion -->

<!-- #region Password reset -->

<form class="form-password-reset" id="password-form">
  <img class="mx-auto d-block" src="{{ domains.static }}/img/square-logo.png" alt="" width="72" height="72">
  <label for="inputPassword" class="sr-only">{{ locales.static.password }}</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="{{ locales.static.password }}" name="password"
    required>
  <label for="inputPasswordVerification" class="sr-only">{{ locales.static.passwordVerification }}</label>
  <input type="password" id="inputPasswordVerification" class="form-control" placeholder="{{ locales.static.passwordVerification }}"
    name="passwordConfirm" required>
  <button class="btn btn-block save-btn" type="button">{{ locales.static.buttonTexts.save }}</button>
  <p class="mt-5 mb-3 text-muted">{{ locales.static.copyright }}</p>
</form>


{% endblock %}

<!-- #endregion -->

<!-- #endregion -->

<!-- #region Scripts -->

{% block scripts %}

<script>

  $(".save-btn").on("click", function (e) {

    e.preventDefault();

    const formElement = document.getElementById("password-form");

    const data = {}

    for (const pair of new FormData(formElement)) {

      data[pair[0]] = pair[1]

    }

    postData(`{{ domains.panel }}/{{ lang }}/resetPassword/{{ dynamic.hash }}`, data)
      .then(function (data) {

        if (data.success) {

          $("#success-modal").modal("toggle");

        } else if (data.error) {

          $("#error-alert #error-message").text(data.errorMessage)

          $("#error-alert").css("display", "block");

          $("#error-modal").modal("toggle");

        }

      }) // JSON-string from `response.json()` call
      .catch(error => console.error(error));

    function postData(url = ``, data) {
      // Default options are marked with *
      return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, same-origin, *omit
        headers: {
          "Content-Type": "application/json; charset=utf-8",
          // "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
        body: JSON.stringify(data), // body data type must match "Content-Type" header
      })
        .then(response => response.json()); // parses response to JSON
    }

  });

  function redirectLogin() {

    window.location.href = "{{ domains.panel }}/{{ lang }}/login"

  }

</script>

{% endblock %}

<!-- #endregion -->
