{% extends "panel/templates/global.njk" %}

{% block wrapper %}
<h1>Weekly Schedules</h1>

{% for weeklySchedule in weeklySchedules %}
<a href="/panel/schedule/weeklySchedule/{{ weeklySchedule._id }}">Type: {{ typeStrings[weeklySchedule.type] }},
	Semester: {{ weeklySchedule.semester }}</a>
{% endfor %}
{% endblock %}
