{% extends "panel/templates/global.njk" %}

{% block wrapper %}
<h1>Weekly Schedule</h1>

<form action="/api/update/weeklySchedule/{{ weeklySchedule._id }}" method="POST">
	<div class="form-group">
		<label for="semester">Weekly Schedule Semester</label>
		<input type="number" class="form-control" id="semester" name="semester" placeholder="Enter semester"
			value="{{ weeklySchedule.semester }}">
	</div>
	<div class="form-group">
		<label for="type">Weekly Schedule Type</label>
		<select class="form-control" id="type" name="type">
			{% for type in config.scheduleTypes %}
			{% if type == course.type %}
			<option value="{{ course.type }}" selected>{{ config.scheduleTypeStrings[course.type] }}</option>
			{% else %}
			<option value="{{ type }}">{{ config.scheduleTypeStrings[type] }}</option>
			{% endif %}
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Update Weekly Schedule</button>
</form>
<hr>
<form action="/api/delete/weeklySchedule/{{ weeklySchedule._id }}" method="GET">
	<button type="submit" class="btn btn-danger">Delete</button>
</form>

<hr>

<h1 class="text-center">Days</h1>
<br>
<div class="row justify-content-md-center">

	{% for k in range(1, config.limits.weeklySchedule.dayNumber + 1) %}
	<div class="col-md-2">
		<form action="">
			<h3 class="text-center">Day {{k}}</h3>
			<hr>
			<input type="number" name="type" value="{{ weeklySchedule.type }}" hidden>
			<input type="number" name="semester" value="{{ weeklySchedule.semester }}" hidden>
			{% for i in range(1, config.limits.dailySchedule.courseNumber + 1) %}
			<div class="form-group">
				<label for="hour-1">{{i}}. Hour</label>
				<select class="form-control" name="hour-{{i}}" id="hour-{{i}}">
					<option value="null" selected>Empty</option>
					{% for course in courses %}
					<option value="{{ course._id }}">{{ course.courseCode }}</option>
					{% endfor %}
				</select>
			</div>
			{% endfor %}
			<button type="button" class="btn btn-success btn-block">Save Day</button>
		</form>
	</div>
	{% endfor %}
</div>
{% endblock %}
