{% extends "panel/templates/global.njk" %}

{% block wrapper %}
<h1>Weekly Schedules</h1>

<hr>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Type</th>
			<th scope="col">Semester</th>
			<th scope="col">Option</th>
		</tr>
	</thead>
	<tbody>
		{% for weeklySchedule in weeklySchedules %}
		<tr>
			<td>{{ typeStrings[weeklySchedule.type] }}</td>
			<td>{{ weeklySchedule.semester }}</td>
			<td><a href="/panel/schedules/weeklySchedule/{{ weeklySchedule._id }}">Details</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
