{% extends "panel/templates/global.njk" %}

{% block wrapper %}
<h1>Email List - {{ emailList.name }}</h1>

<form action="/api/update/emailList" method="POST">
	<div class="form-group">
		<input type="text" name="id" value="{{ emailList._id }}" hidden>
		<label for="name">Enter new name</label>
		<input type="text" class="form-control" id="name" name="name" value="{{ emailList.name }}"
			placeholder="Enter new name" required>
	</div>
	<button type="submit" class="btn btn-primary">Update Email List</button>
</form>
<hr>
<form action="/api/delete/emailList/{{ emailList._id }}" method="GET">
	<button type="submit" class="btn btn-danger">Delete</button>
</form>

<hr>

<h1>Emails</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Email</th>
			<th scope="col">Option</th>
		</tr>
	</thead>
	<tbody>
		{% for email in emails %}
		<tr>
			<td>{{ email.email }}</td>
			<td>
				{% if email._id in emailList.emails %}
				<form action="/api/remove/email" method="POST">
					<input type="text" value="{{ email._id }}" name="emailId" hidden>
					<input type="text" value="{{ emailList._id }}" name="emailListId" hidden>
					<button type="submit" class="btn btn-danger">Remove from list</button>
				</form>
				{% else %}
				<form action="/api/append/emailList" method="POST">
					<input type="text" value="{{ email._id }}" name="emailId" hidden>
					<input type="text" value="{{ emailList._id }}" name="emailListId" hidden>
					<button type="submit" class="btn btn-success">Add to list</button>
				</form>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
