{% extends "panel/templates/global.njk" %}

<!-- #region Styles -->

{% block styles %}

<link rel="stylesheet" href="/assets/css/posts/all.css">

{% endblock %}

<!-- #endregion -->

<!-- #region Body -->

{% block wrapper %}

<!-- #region Heading -->

<h1 id="heading" class="h4">{{ locales.static.heading }}</h1>

<!-- #endregion -->

<!-- #region Posts -->

{% if (drafts | length) > 0 %}

<ul class="list-unstyled">

  {% for draft in drafts %}

  <li class="media">
    <!-- #region Avatar -->
    <img class="mr-3 avatar" src="{{ dynamic.avatar }}" alt="User Avatar" height="64px">
    <!-- #endregion -->
    <div class="media-body">
      <!-- #region Title -->
      <a class="title" href="/{{ lang }}/drafts/{{ draft._id }}">{{ draft.title }}</a>
      <!-- #endregion -->
      <!-- #region Author & Date-->
      <small>{{ draft._author.name
        }} {{ draft._author.surname }}, {{
        draft.creationDate | date("DD
        MMMM YYYY
        dddd") }}</small>
      <!-- #endregion -->
      <div class="dropdown-divider"></div>
      <!-- #region Language & Translation-->
      <small class="language">
        {{ locales.static.draft.language }} : <span>
          {% if draft.lang == en %}
          <span>{{ locales.languages.en }}</span>
          {% else %}
          <span>{{ locales.languages.tr }}</span>
          {% endif %}
        </span>
      </small>
      <!-- #endregion -->
    </div>
  </li>

  <div class="dropdown-divider"></div>

  {% endfor %}

</ul>

{% else %}

<!-- #region Empty -->

<div class="alert info-alert" role="alert" style="margin-top: 20px;">
  {{ locales.static.empty }}
</div>

<!-- #endregion -->

{% endif %}

<!-- #endregion -->

{% endblock %}

<!-- #endregion -->
