{% extends "panel/templates/global.njk" %}

<!-- #region Styles -->

{% block styles %}

<link rel="stylesheet" href="/assets/css/simplemde.css">

{% endblock %}

<!-- #endregion -->

<!-- #region Body -->

{% block wrapper %}

<!-- #region Heading -->

<h1 id="heading" class="h4">{{ locales.static.heading }}</h1>

<!-- #endregion -->

<!-- #region Alerts -->

<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="error-title">{{ locales.static.alerts.error.heading }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert error-alert alert-dismissible fade show" id="error-alert" role="alert" style="display: none;">
          <span id="error-message"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- #endregion -->

<!-- #region Post Creation Form -->

<form id="post-form">
  <!-- #region Title -->
  <div style="margin-top: 1rem;" class="form-group row">
    <label for="input-title" class="col-sm-2 col-form-label">{{ locales.static.post.postTitle }} : </label>
    <div class="col-sm-10">
      <input id="input-title" type="text" class="form-control" name="title" minlength="{{ limits.minTitleLength }}"
        maxlength="{{ limits.maxTitleLength }}" value="{{ draft.title }}" required>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region Language -->
  <div class="form-group row">
    <label for="input-language" class="col-sm-2 col-form-label">{{ locales.static.post.language }} : </label>
    <div class="col-sm-10">
      <div class="input-group">
        <select class="custom-select language" name="lang" required>
          {% if draft.lang == "tr" %}
          <option value="tr" selected>{{ locales.languages.tr }}</option>
          <option value="en">{{ locales.languages.en }}</option>
          {% else %}
          <option value="en" selected>{{ locales.languages.en }}</option>
          <option value="tr">{{ locales.languages.tr }}</option>
          {% endif %}
        </select>
      </div>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region Category -->
  <div class="form-group row">
    <label for="input-category" class="col-sm-2 col-form-label">{{ locales.static.post.category }} : </label>
    <div class="col-sm-10">
      <div class="input-group">
        <select class="custom-select category" name="_category" required>
          <option option disabled selected value>{{ locales.static.post.select }}</option>
          {% for category in categories %}
          <option class="lang_{{ category.lang }}" value="{{ category._id }}" style="display: none;">{{ category.name
            }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region Tags -->
  <div class="form-group row">
    <label for="input-tags" class="col-sm-2 col-form-label">{{ locales.static.post.tags }} : </label>
    <div class="col-sm-10">
      <input id="input-tags" type="text" class="form-control" name="_tags" placeholder="{{ locales.static.tagAlert }}"
        maxlength="{{ limits.maxTagsLength }}" required>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region Preview -->
  <div class="form-group row">
    <label for="input-preview" class="col-sm-2 col-form-label">{{ locales.static.post.preview }} : </label>
    <div class="col-sm-10">
      <input id="input-preview" type="text" class="form-control" name="preview" minlength="{{ limits.minPreviewLength }}"
        maxlength="{{ limits.maxPreviewLength }}" required>
    </div>
  </div>
  <!-- #endregion -->
  <div class="dropdown-divider"></div>
  <!-- #region Content -->
  <div class="form-group row" style="margin-top: 1.5rem;">
    <div class="col-sm-12">
      <textarea name="content" id="editor" value="{{ draft.content }}">{{ draft.content }}</textarea>
    </div>
  </div>
  <!-- #endregion -->
  <div class="dropdown-divider"></div>
  <!-- #region Buttons -->
  <div id="button-group" class="form-group row">
    <div class="col-sm-10">
      <button type="button" class="btn save-btn">{{ locales.static.buttonTexts.publish }}</button>
    </div>
  </div>
  <!-- #endregion -->

</form>

<!-- #endregion -->

{% endblock %}

<!-- #endregion -->

<!-- #region Scripts -->

{% block scripts %}

<!-- #region POST -->
<script>

  $(".save-btn").on("click", function (e) {

    e.preventDefault();

    const formElement = document.getElementById("post-form");

    const data = {}

    for (const pair of new FormData(formElement)) {

      data[pair[0]] = pair[1]

    }

    postData(`{{ domains.panel }}/{{ lang }}/drafts/publish/{{ draft._id }}`, data)
      .then(function (data) {

        if (data.success) {

          window.location.href = `{{ domains.panel }}/{{ lang }}/posts/${data.redirectParam}`

        } else if (data.error) {

          $("#error-alert #error-message").text(data.errorMessage)

          $("#error-alert").css("display", "block");

          $("#error-modal").modal("toggle");

        }

      }) // JSON-string from `response.json()` call
      .catch(error => console.error(error));

    function postData(url = ``, data) {
      // Default options are marked with *
      return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, same-origin, *omit
        headers: {
          "Content-Type": "application/json; charset=utf-8",
          // "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
        body: JSON.stringify(data), // body data type must match "Content-Type" header
      })
        .then(response => response.json()); // parses response to JSON
    }

  });

</script>
<!-- #endregion -->

<!-- #region Import libraries -->

<script src="/assets/js/languageAndCategory.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="/assets/js/createEditor.js"></script>
<script src="/assets/js/flowType.js"></script>
<script src="/assets/js/setEditorStyles.js"></script>

<!-- #endregion -->

{% endblock %}

<!-- #endregion -->
