{% extends "panel/templates/global.njk" %}

{% block wrapper %}
<h1>{{ course.courseCode }} - {{ course.name }}</h1>

<hr>

<form action="/api/update/course/{{ course._id }}" method="POST">
	<div class="form-group">
		<label for="name">Course Name</label>
		<input type="text" class="form-control" id="name" name="name" value="{{ course.name }}"
			placeholder="Enter course name">
	</div>
	<div class="form-group">
		<label for="description">Course Description</label>
		<input type="text" class="form-control" id="description" name="description" value="{{ course.description }}"
			placeholder="Enter course description">
	</div>
	<div class="form-group">
		<label for="courseCode">Course Code</label>
		<input type="text" class="form-control" id="courseCode" name="courseCode" value="{{ course.courseCode }}"
			placeholder="Enter course courseCode">
	</div>
	<div class="form-group">
		<label for="departmentCode">Department Code</label>
		<input type="text" class="form-control" id="departmentCode" name="departmentCode"
			value="{{ course.departmentCode }}" placeholder="Enter course departmentCode">
	</div>
	<div class="form-group">
		<label for="topics">Course Topics</label>
		<input type="text" class="form-control" id="topics" name="topics" value="{{ course.topics }}"
			placeholder="Enter course topics" aria-describedby="topicDescribe">
		<small id="topicDescribe" class="form-text text-muted">Please seperate topics with comma (,).</small>
	</div>
	<div class="form-group">
		<label for="type">Course Type</label>
		<select class="form-control" id="type" name="type">
			{% for type in config.scheduleTypes %}
			{% if type == course.type %}
			<option value="{{ course.type }}" selected>{{ config.scheduleTypeStrings[course.type] }}</option>
			{% else %}
			<option value="{{ type }}">{{ config.scheduleTypeStrings[type] }}</option>
			{% endif %}
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="workers">Course Workers</label>
		<input type="text" class="form-control" id="workers" name="workers" value="{{ course.workers }}"
			placeholder="Enter course workers">
	</div>
	<div class="form-group">
		<label for="credits">Credits</label>
		<input type="text" class="form-control" id="credits" name="credits" value="{{ course.credits }}"
			placeholder="Enter course credits">
	</div>
	<div class="form-group">
		<label for="ects">ECTS</label>
		<input type="text" class="form-control" id="ects" name="ects" value="{{ course.ects }}"
			placeholder="Enter course ects">
	</div>
	<div class="form-group">
		<label for="lectureHours">Lecture Hours</label>
		<input type="text" class="form-control" id="lectureHours" name="lectureHours" value="{{ course.lectureHours }}"
			placeholder="Enter course lectureHours">
	</div>
	<div class="form-group">
		<label for="labHours">Lab Hours</label>
		<input type="text" class="form-control" id="labHours" name="labHours" value="{{ course.labHours }}"
			placeholder="Enter course labHours">
	</div>
	<button type="submit" class="btn btn-primary">Update Course</button>
</form>
<hr>
<form action="/api/delete/course/{{ course._id }}" method="GET">
	<button type="submit" class="btn btn-danger">Delete</button>
</form>

{% endblock %}
